<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>发送邮件</p>
<form method="post" action={{ url_for('.add') }}>
    邮件内容:
<input type="text" name="content" placeholder="content">
    <br />
    邮件主题:
<input type="text" name="title" placeholder="title">
    <br />
    邮件接收者的id:
<input type="text" name="receiver_id" placeholder="to_id"value="{{ receiver_id }}">
    <br />
<button type="submit">提交邮件</button>
    <br />
</form>

<p>收到邮件</p>
{% for r in receives%}
    <div>
    <a href = {{ url_for(".view", id = r.id) }} > {{ r.title }}</a>
    </div>
{% endfor %}
<p>发送的邮件</p>
{% for s in sends%}
    <div>
    <a href = {{ url_for(".view", id = s.id) }} > {{ s.title }}</a>
    </div>
{% endfor %}
</body>
</html>